@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --tet-red: #DC2626;
  /* red-600 */
  --tet-yellow: #FACC15;
  /* yellow-400 */
  --tet-green: #00A86B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tet-red: var(--tet-red);
  --color-tet-yellow: var(--tet-yellow);
  --color-tet-green: var(--tet-green);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@utility glass-morphism {
  @apply backdrop-blur-md bg-white/30 border border-white/20;
}